[Unit]
Description=Docker Compose - Gary
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/ur/gary
ExecStart=/usr/bin/docker compose up -d
TimeoutStartSec=0
User=root

[Install]
WantedBy=multi-user.target
