[Unit]
Description=Startup scripts for Jetson
After=network-online.target

[Service]
User=root
ExecStart=bash -c "parallel --compress -j0 ::: /startup_scripts/*"
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
